<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="">
    <title>Flexão de bíceps - NexFit</title>
</head>
<body>
    <div class="container">
        <header class="headerExercicio">
            <button class="btnVoltar" id="btnVoltar">←</button>
            <h1 id="nomeExercicio">TITULO</h1>
            <div class="headerIcones">
                <button class="iconBtn">♪</button>
                <button class="iconBtn">🎧</button>
                <button class="iconBtn">⋮</button>
            </div>
        </header>

        <section class="cardDuracao">
            <span class="labelCard" id="duracao">Duração</span>
            <h2 class="valorCard" id="valorCard">0</h2>
        </section>

        <section class="cardCalorias">
            <span class="labelCard">Calorias</span>
            <h2 class="valorCard">0 kcal</h2>
        </section>

        <footer class="botoesAcao">
            <button class="btnPausar" id="btnPausar">Pausar</button>
            <button class="btnContinuar" id="btnContinuar">Continuar</button>
            <button class="btnConcluir" id="btnConcluir">Concluir</button>
            <button class="btnConfig">⚙️</button>
        </footer>
    </div>

    
</body>
</html>
