<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../public/exercicios.css">
    <title>Meus Exercícios - NexFit</title>
</head>

<body>
    <div class="container">
        <header class="headerExercicios">
            <button class="btnVoltar" id="btnVoltar"><-</button>
            <h1>Meus exercícios</h1>
            <div class="headerIcones">
                <button class="iconBtn">+</button>
                <button class="iconBtn">⋮</button>
            </div>
        </header>

        <!-- SEÇÃO FAVORITOS -->
        <section class="secaoLista">
            <h2 class="tituloSecao">Favoritos</h2>
            <ol class="listaExercicios">
                <li class="itemExercicio">
                    <span class="iconeExercicio">🏃</span>
                    <span class="nomeExercicio">Corrida</span>
                    <div class="divBtnComecar">
                        <a href="/exercicio/ativo?nome=Corrida" class="btnComecar">Começar</a>
                    </div>
                    <span class="estrela favorito">★</span>
                </li>
                <li class="itemExercicio">
                    <span class="iconeExercicio">🏋️‍♂️</span>
                    <span class="nomeExercicio">Supino</span>
                    <div class="divBtnComecar">
                        <a href="/exercicio/ativo?nome=Supino" class="btnComecar">Começar</a>
                    </div>
                    <span class="estrela favorito">★</span>
                </li>
                <li class="itemExercicio">
                    <span class="iconeExercicio">🚴</span>
                    <span class="nomeExercicio">Bicicleta</span>
                    <div class="divBtnComecar">
                        <a href="/exercicio/ativo?nome=Bicicleta" class="btnComecar">Começar</a>
                    </div>
                    <span class="estrela favorito">★</span>
                </li>
            </ol>
        </section>

        <!-- SEÇÃO MAIS EXERCÍCIOS -->
        <section class="secaoLista">
            <h2 class="tituloSecao">Mais exercícios</h2>
            <ol class="listaExercicios">
                <li class="itemExercicio">
                    <span class="iconeExercicio">💪</span>
                    <span class="nomeExercicio">Flexão de bíceps</span>
                    <div class="divBtnComecar">
                        <a href="/exercicio/ativo?nome=Flexão%20de%20Biceps" class="btnComecar">Começar</a>
                    </div>
                    <span class="estrela">☆</span>
                </li>
                <li class="itemExercicio">
                    <span class="iconeExercicio">🏊‍♂️</span>
                    <span class="nomeExercicio">Nataçao</span>
                    <div class="divBtnComecar">
                        <a href="/exercicio/ativo?nome=Natacao" class="btnComecar">Começar</a>
                    </div>
                    <span class="estrela">☆</span>
                </li>
                <li class="itemExercicio">
                    <span class="iconeExercicio">🦵</span>
                    <span class="nomeExercicio">Cadeira flexora</span>
                    <div class="divBtnComecar">
                        <a href="/exercicio/ativo?nome=Cadeira%20Flexora" class="btnComecar">Começar</a>
                    </div>
                    <span class="estrela">☆</span>
                </li>
                <li class="itemExercicio">
                    <span class="iconeExercicio">🚶‍♂️</span>
                    <span class="nomeExercicio">Caminhada</span>
                    <div class="divBtnComecar">
                        <a href="/exercicio/ativo?nome=Caminhada" class="btnComecar">Começar</a>
                    </div>
                    <span class="estrela">☆</span>
                </li>
                <li class="itemExercicio">
                    <span class="iconeExercicio">🏋️</span>
                    <span class="nomeExercicio">Barra fixa</span>
                    <div class="divBtnComecar">
                        <a href="/exercicio/ativo?nome=Barra%20Fixa" class="btnComecar">Começar</a>
                    </div>
                    <span class="estrela">☆</span>
                </li>
                <li class="itemExercicio">
                    <span class="iconeExercicio">🚴</span>
                    <span class="nomeExercicio">Mountain bike</span>
                    <div class="divBtnComecar">
                        <a href="/exercicio/ativo?nome=Mountain%20bike" class="btnComecar">Começar</a>
                    </div>
                    <span class="estrela">☆</span>
                </li>
                <li class="itemExercicio">
                    <span class="iconeExercicio">🏋️</span>
                    <span class="nomeExercicio">Agachamentos</span>
                    <div class="divBtnComecar">
                        <a href="/exercicio/ativo?nome=Agachamentos" class="btnComecar">Começar</a>
                    </div>
                    <span class="estrela">☆</span>
                </li>
                <li class="itemExercicio">
                    <span class="iconeExercicio">💪</span>
                    <span class="nomeExercicio">Flexão de braços</span>
                    <div class="divBtnComecar">
                        <a href="/exercicio/ativo?nome=Flexão%20de%20bracos" class="btnComecar">Começar</a>
                    </div>
                    <span class="estrela">☆</span>
                </li>
                <li class="itemExercicio">
                    <span class="iconeExercicio">🏃</span>
                    <span class="nomeExercicio">Abdominais curtos</span>
                    <div class="divBtnComecar">
                        <a href="/exercicio/ativo?nome=Abdominais%20curtos" class="btnComecar">Começar</a>
                    </div>
                    <span class="estrela">☆</span>
                </li>
            </ol>
        </section>
    </div>

    <script>
        const btnVoltar = document.getElementById('bntVoltar')

        btnVoltar.addEventListener("click", () => {
            window.location.href = "/index"
        })
    </script>
</body>

</html>