<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/public/css/style.css">
    <title>NexFit </title>
</head>

<body>
    <div class="tituloNexFit">
        <header class="nexFitHeader">
            <h1>NexFit</h1>
            <h2>Ola <span id="nomeDaPessoa">NOME DA PESSOA</span></h2>
            <div class="headerIcones">
                <button class="iconBtn"><button>
                        <button class="iconBtn"></button>
                        <h3><a href="">Sobre Nos</a></h3>
            </div>
        </header>
    </div>

    <!--SEÇAO DOS PASSOS-->
    <div class="secaoPassos">
        <div class="passosInfo">
            <h2>6.434</h2>
            <p>/20.109 passos</p>
        </div>
        <div class="divProgressao">
            <!--serve para agrupar e estilizar trechos específicos de texto-->
            <span class="emblemaPorcentagem">34%</span>
            <div class="divBarraPorcentagem">
                <div class="preenchimentoBarraProgressao"></div>
            </div>
        </div>
    </div>

    <!--SECAO GERAL-->
    <div class="secaoStatus">
        <div class="listaStatus">
            <div class="statItem">
                <div class="statIconePassos">🏃</div>
                <div>
                    <span class="statValor">4.869</span>
                    <span class="statLabel">passos</span>
                </div>
            </div>

            <div class="statItem">
                <div class="statIconeTempo">⏱️</div>
                <div>
                    <span class="statValue">74</span>
                    <span class="statLabel">min</span>
                </div>
            </div>

            <div class="statItem">
                <div class="statIconeCalorias">🔥</div>
                <div>
                    <span class="statValue">205</span>
                    <span class="statLabel">kcal</span>
                </div>
            </div>
        </div>
    </div>

    <!--SEÇAO DE ATIVIDES FISICAS-->
    <div class="secaoAtividadesFisicas">
        <div class="gradeAtividades">
            <div class="itemAtividade">
                <div class="iconeAtividadeFisica">🏃</div>
                <span class="labelAtividade">Corrida</span>
            </div>
            <div class="itemAtividade">
                <div class="iconeAtividadeFisica">🏋️</div>
                <span class="labelAtividade">Supino</span>
            </div>
            <div class="itemAtividade">
                <div class="iconeAtividadeFisica">🚴</div>
                <span class="labelAtividade">Ciclismo</span>
            </div>
            <div class="itemAtividade">
                <div class="iconeAtividadeFisica"><a href="/exercicios">☰</a></div>
                <span class="labelAtividade">Mais</span>
            </div>
        </div>
    </div>

    <div class="gradeDeSecoes">

        <!--SEÇAO SONO-->
        <div class="secaoSono">
            <div class="infoSono">
                <div class="sonoHeader">
                    <div class="iconeSono">😴</div>
                    <div>
                        <span class="horasSono">5</span>
                        <span class="sonoLabel">h</span>
                    </div>
                </div>
                <button class="btnRegistrar">Registar esse tempo</button>
            </div>
            <div class="sonoGrafico">
                <div class="tempoSono">02:20 - 07:20</div>
                <div class="barraSono"></div>
            </div>
        </div>

        <!--SEÇAO ALIMENTAÇAO-->
        <div class="secaoRefeicao">
            <div class="infoRefeicao">
                <div class="iconeRefeicao"></div>
                <div class="refeicaoDetalhes">
                    <h3>Refeição</h3>
                    <button class="btnRefeicao">Entrar</button>
                </div>
            </div>
            <div class="progressoRefeicao">
                <div class="iconeAjuda">?</div>
                <div class="barraProgressaoRefeicao">
                    <div class="preenchimentoBarraRefeicao"></div>
                </div>
            </div>
        </div>

        <!--SEÇAO HIDRATAÇAO-->
        <div class="secaoHidratacao">
            <div class="infoHidratacao">
                <div class="iconeHidratacao">💧</div>
                <div class="detalheHidratacao">
                    <h3>0</h3>
                    <p>/2.000 ml</p>
                </div>
                <div class="barraProgressaoHidratacao">
                    <div class="preenchimentoBarraHidratacao"></div>
                </div>
            </div>
        </div>

    </div>



    <!--PARTES DOS MODAIS DE EXERCICIOS-->


</body>

</html>