<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../public/style.css">
    <title>NexFit </title>
</head>

<body>
    <div class="tituloNexFit">
        <header class="nexFitHeader">
            <h1>NexFit</h1>
            <div class="headerIcones">
                <button class="iconBtn"><button>
                        <button class="iconBtn"></button>
            </div>
        </header>
    </div>

    <!--SEÇAO DOS PASSOS-->
    <div class="secaoPassos">
        <div class="passosInfo">
            <h2>6.434</h2>
            <p>/20.109 passos</p>
        </div>
        <div class="divProgressao">
            <!--serve para agrupar e estilizar trechos específicos de texto-->
            <span class="emblemaPorcentagem">34%</span>
            <div class="divBarraPorcentagem">
                <div class="preenchimentoBarraProgressao"></div>
            </div>
        </div>
    </div>

    <!--SECAO GERAL-->
    <div class="secaoStatus">
        <div class="listaStatus">
            <div class="statItem">
                <div class="statIconePassos">🏃</div>
                <div>
                    <span class="statValor">4.869</span>
                    <span class="statLabel">passos</span>
                </div>
            </div>

            <div class="statItem">
                <div class="statIconTempo">⏱️</div>
                <div>
                    <span class="statValue">74</span>
                    <span class="statLabel">min</span>
                </div>
            </div>

            <div class="statItem">
                <div class="statIconCalorias">🔥</div>
                <div>
                    <span class="statValue">205</span>
                    <span class="statLabel">kcal</span>
                </div>
            </div>
        </div>
    </div>

    <!--SEÇAO DE ATIVIDES FISICAS-->
    <div class="secaoAtividadesFisicas">
        <div class="gradeAtividades">
            <div class="itemAtividade">
                <div class="iconeAtividadeFisica">🏃</div>
                <span class="labelAtividade">Corrida</span>
            </div>
            <div class="itemAtividade">
                <div class="iconeAtividadeFisica">🏋️</div>
                <span class="labelAtividade">Supino</span>
            </div>
            <div class="itemAtividade">
                <div class="iconeAtividadeFisica">🚴</div>
                <span class="labelAtividade">Ciclismo</span>
            </div>
            <div class="itemAtividade">
                <div class="iconeAtividadeFisica">☰</div>
                <span class="labelAtividade">Mais</span>
            </div>
        </div>
    </div>

    <div class="gradeDeSecoes">

        <!--SEÇAO SONO-->
        <div class="card sleep-card">
            <div class="sleep-info">
                <div class="sleep-header">
                    <div class="sleep-icon"></div>
                    <div>
                        <span class="sleep-hours">5</span>
                        <span class="stat-label">h</span>
                    </div>
                </div>
                <button class="register-btn">Registar esse tempo</button>
            </div>
            <div class="sleep-chart">
                <div class="sleep-time">02:20 - 07:20</div>
                <div class="sleep-bar"></div>
            </div>
        </div>

        <!--SEÇAO ALIMENTAÇAO-->
        <div class="card meal-card">
            <div class="meal-info">
                <div class="meal-icon"></div>
                <div class="meal-details">
                    <h3>Refeição</h3>
                    <button class="meal-btn">Entrar</button>
                </div>
            </div>
            <div class="meal-progress">
                <div class="help-icon">?</div>
                <div class="meal-progress-bar">
                    <div class="meal-progress-f11"></div>
                </div>
            </div>
        </div>

        <!--SEÇAO HIDRATAÇAO-->
        <div class="secaoHidratacao">
            <div class="infoHidratacao">
                <div class="iconeHidratacao">💧</div>
                <div class="detalheHidratacao">
                    <h3>0</h3>
                    <p>/2.000 ml</p>
                </div>
                <div class="barraProgressaoHidratacao">
                    <div class="preenchimentoBarraHidratacao"></div>
                </div>
            </div>
        </div>

    </div>

    <!--BOTOES DE NAVEGAÇAO-->
    <div class="btnNavegacao">
        <div class="itemsNavegacao">
            <div class="navItemActive">
                <span class="navIcon">❤️</span>
                <span class="navLabel">Inicio</span>
            </div>
            <div class="navItem">
                <span class="navIcon"></span>
                <span class="navLabel"></span>
            </div>
        </div>
    </div>
</body>

</html>