<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>NexFit </title>
</head>

<body>
    <div class="tituloNexFit">
        <header class="nexFitHeader">
            <h1>NexFit</h1>
            <div class="headerIcones">
                <button class="iconBtn"><button>
                        <button class="iconBtn"></button>
            </div>
        </header>
    </div>

    <!--SEÇAO DOS PASSOS-->
    <div class="secaoPassos">
        <div class="passosInfo">
            <h2>6.434</h2>
            <p>/20.109 passos</p>
        </div>
        <div class="divProgressao">
            <!--serve para agrupar e estilizar trechos específicos de texto-->
            <span class="emblemaPorcentagem">34%</span>
            <div class="divBarraPorcentagem">
                <div class="preenchimentoBarraProgressao"></div>
            </div>
        </div>
    </div>

    <!--SECAO GERAL-->
    <div class="secaoStatus">
        <div class="listaStatus">
            <div class="statItem">
                <div class="statIconePassos">🏃</div>
                <div>
                    <span class="statValor">4.869</span>
                    <span class="statLabel">passos</span>
                </div>
            </div>

            <div class="statItem">
                <div class="statIconTempo">⏱️</div>
                <div>
                    <span class="statValue">74</span>
                    <span class="statLabel">min</span>
                </div>
            </div>

            <div class="statItem">
                <div class="statIconCalorias">🔥</div>
                <div>
                    <span class="statValue">205</span>
                    <span class="statLabel">kcal</span>
                </div>
            </div>

        </div>
    </div>
</body>

</html>